.chatroom__container {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
}

.chatroom__navigation {
  background-color: azure;
}

.chatroom__main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 8fr 1fr;
  height: 100%;
}

.chatroom__messages {
  background-color: beige;
  max-height: 80vh;
  overflow-y: scroll;
}

.chatroom__new-message {
  background-color: lavender;
  bottom: 0px;
}

.chatroom__form {
  display: grid;
  grid-template-columns: 8fr 1fr;
  grid-gap: 10px;
  padding: 10px 10px 10px 10px;
}

.chatroom__header {
  background-color: lightblue;
}

.auth__container {
  display: grid;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
}

/* HELPERS */

.m-a {
  margin: auto;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.p-3 {
  padding: 3rem;
}

.full-width {
  width: 100%;
}
