.chatroom__container {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
}

.chatroom__navigation {
  background-color: azure;
}

.chatroom__main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 8fr 1fr;
  height: 100%;
}

.chatroom__messages {
  background-color: beige;
  max-height: 80vh;
  overflow-y: scroll;
}

.chatroom__new-message {
  background-color: lavender;
  bottom: 0px;
}

.chatroom__form {
  display: grid;
  grid-template-columns: 8fr 1fr;
  grid-gap: 10px;
  padding: 10px 10px 10px 10px;
}

.chatroom__header {
  background-color: lightblue;
}
